@model Aplicacion_Web.documentos

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>documentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo_documento.Tipo_doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_documento.Tipo_doc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_doc_encon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_doc_encon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ape_doc_encon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ape_doc_encon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ced_per_encon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ced_per_encon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom_pers_encon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_pers_encon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ape_perso_encon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ape_perso_encon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nmr_contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nmr_contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_contacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_contacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar_encon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar_encon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_registro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
